html {
  --font-color: #e6e7e8;
  --hov-color: #bebebe;
  --nav-footer-color: rgb(38, 37, 37);
}

.navbar-complete {
  background-color: var(--nav-footer-color);
}

@media only screen and (min-width: 992px) {
  .navbar-complete {
    height: 75px;
  }
}

.me-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: var(--font-color);
  margin-right: 20px;
}

.nav-item:hover {
  color: var(--hov-color);
}
