html {
  --font-color: #e6e7e8;
  --hov-color: #bebebe;
  --nav-footer-color: rgb(38, 37, 37);
}

.navbar-complete {
  background-color: var(--nav-footer-color);
  height: 70px;
}

.me-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: var(--font-color);
}

.nav-item:hover {
  color: var(--hov-color);
}
