html {
  --font-color: #e6e7e8;
  --hov-color: #bebebe;
}

.me-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: var(--font-color);
}

.nav-item:hover {
  color: var(--hov-color);
}
