html {
  --bg-color: #404041;
  --top-bar-color: #e6e7e8;
  --button-color1: #ff8f8f;
  --button-color2: #5ec3af;
  --button-color3: #ff0032af;
  --font-color: #e6e7e8;
}

.card-window {
  background-color: var(--bg-color);
  border-radius: 8px;
  margin-bottom: 20px;
  color: var(--font-color);
  height: 500px;
}

@media (max-width: 991px) {
  .card-window {
    height: 400px;
  }
}

.card-screen {
  position: relative;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  font-size: 30px;
}

.card-top-bar {
  width: 100%;
  height: 30px;
  position: absolute;
  margin-top: 0;
  background-color: var(--top-bar-color);
  border-radius: 7px 7px 0 0;
}

.buttons {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 12px;
  background: var(--button-color1);
  border-radius: 50%;
  left: 22px;
}

.buttons::after,
.buttons::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.buttons::after {
  left: 12px;
  background-color: var(--button-color2);
}

.buttons::before {
  right: 12px;
  background-color: var(--button-color3);
}

.exp-title {
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--font-color);
}

.duration {
  font-size: 13px;
  font-style: italic;
}

.summary {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.summary {
  padding-left: 25px;
  padding-right: 25px;
}
