html {
  --bg-color: #404041;
  --font-color: #e6e7e8;
}

#about-me {
  background-color: var(--bg-color);
  /* margin-top: 0px;
  padding-top: 75px;
  padding-bottom: 50px;
  margin-bottom: 0px; */
  padding-top: 25px;
  padding-bottom: 0px;
}

.about-page-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  font-weight: bold;
}

.about-grid {
  width: 65%;
}

.portrait-pic {
  width: 100%;
  max-width: 300px;
  border: 5px solid var(--bg-color);
  border-radius: 10px;
  margin-bottom: 25px;
}

.col-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-text-row {
  display: flex;
  justify-content: left;
}

@media (max-width: 860px) {
  .about-grid {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .about-grid {
    width: 75%;
  }
}
