html {
  --font-color: #e6e7e8;
  --bg-color: #282c34;
  --hov-color: #bebebe;
  --nav-footer-color: rgb(38, 37, 37);
}

.footer-page {
  height: 40vh;
  background-color: var(--nav-footer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

#github-icon {
  margin-bottom: 1px;
}

.icons {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--font-color);
}

.text-icons {
  margin-left: 10px;
  font-size: 25px;
}

.icons:hover {
  color: var(--hov-color);
}

.text-button:hover {
  color: var(--hov-color);
}

.text-button:hover .icons {
  color: red;
}

.text-button {
  padding: 0px;
  margin: 10px;
  color: var(--font-color);
  padding-top: 10px;
}

a {
  text-decoration: none;
}
